<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock %} | CloudCV
        </title>
        <link rel="stylesheet" href="{{ STATIC_URL }}base/base.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
        {% block extra_css %}
        {% endblock %}
    </head>
    <body>
        <!-- HEADER -->
        <div id="main-header" class="page-borders">
            <div class="navigation">
                <div id="header-title">
                    <a href="/">
                    CLOUDCV
                    </a>
                </div><!-- header_title -->
                <div class="nav-bar">
                {% if not user.is_authenticated %}
                    {% load socialaccount %}    
                    {% load socialaccount_tags %}
                    <div id="sign-in">
                        <a href='{% provider_login_url "google" method="oauth2" next="/" %}'>
                        <button class="btn btn-large btn-red signup-original">
                            Sign In with google
                        </button>
                        </a>
                    </div>
                {% else %}
                    <div id="logout">
                        <a href="/accounts/logout/">
                            <button class="btn btn-large btn-grey signup-original">
                                Logout
                            </button>
                        </a>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        {% block page %}
        {% endblock %}
        <!-- FOOTER -->
        <div id="main-footer" class="page-borders">
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://apis.google.com/js/client:platform.js" async defer></script>
        {% block extra_js %}
        {% endblock %}

    </body>
</html>
