{% extends 'base1.html' %}

{% block extra_css %}
{% endblock %}

{% block page %}
<div id="form-category-container">
    <input id="category-text" type="text"> </input>
    <button class="btn btn-medium btn-blue" id="category-submit">Add Category</button>
    <div id="error-status"></div>
</div>
<div id="caffe-options">
    <button class="btn btn-medium btn-blue" id="train-model">Train</button>
    <button class="btn btn-medium btn-green" id="test-model">Text</button>
    <div id="caffe-test-results"></div>
</div>
<div id="images-container">
</div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}homepage/homepage.js"></script>
{% endblock %}
