#main-header {
    background: #33626B;
    width: 100%;
    position: relative;
    height: 45px;
}

body {
    font-size: 10px;
    font-family: 'Open Sans',sans-serif;
    margin: 0;
    word-spacing: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-font-smoothing: antialiased;
}

.navigation {
    display: block;
    max-width: 1100px;
    margin: 0px auto;
}

.nav-bar {
    padding-top: 5px;
    position: relative;
    right: 0;
    float: right;
    display: block;
    margin: 0px;
}

#header-title{
    position: relative;
    float: left;
    padding: 10px 5px;
    text-decoration: none;
    font-weight: 800;
    font-size: larger;
    background: rgb(158, 181, 181);
}

.clear {
    clear: both;
}

.photo-frame {
    margin-left: 15px;
    margin-bottom: 5px;
    float: left
}
.clear {
    clear: both
}

.main-page {
    position: relative;
    display: block;
    margin-top: 50px;
    margin-left: 100px;
}
#images-container {
    margin-top: 10px;
}
#error-status {
    display: none;
    background: rgb(236, 93, 93);
    border-radius: 5px;
    margin: 15px;
    padding: 5px 10px;
    max-width: 500px;
}
